#progressbar li {
	font-size: 15px;
	width: 80px;
	margin-left: 0px;
	margin-right: 20px;
	padding-left: 8px;
}
#progressbar li:before {
	width: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 30px;
	margin: 0 auto 10px auto;
}
#progressbar li:after {
	height: 10px;
	top: 20px;
}
.modal-guts {
	padding: 0px 0% 20px 0px;
}
.modal-guts h1 {
	display: none;
}
#msform .exit-button {
	width: 100px;
	background: #B22222;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}