.spinner-wrapper {
	background: #043927;
}
.copyright {
	background-color: #043927;
}
.header {
	height: 200px;
}
.header h1 {
	margin-top: -270px;
}
.filter {
	padding-top: 1.5rem;
	padding-bottom: 3rem;
}
.filter h2 {
	margin-bottom: 1rem;
}
.filter .button-group a.button.is-checked {
	background-color: #043927;
}
.filter .element-item .element-item-overlay span {
	color: #fff;
}
.filter .element-item .element-item-overlay {
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 1;
}
.lightbox-basic .line-heading {
	margin-top: 10px;
	background-color: #043927;
	height: 3px;
}
.lightbox-basic a.mfp-close.as-button {
	color: #fff;
}
.mfp-close-btn-in .mfp-close {
	color: #043927;
}
.btn-outline-reg {
	border: 0.125rem solid #043927;
	background-color: #043927;
}
.btn-outline-reg:hover {
	border: 0.125rem solid #043927;
	background-color: #043927;
}

.map-container{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

@media screen and (max-width: 1200px) {
	.header h1 {
		margin-top: -260px;
	}
}
@media screen and (max-width: 991px) {
	.header h1 {
		margin-top: -140px;
	}
}
@media screen and (max-width: 767px) {
	.header {
		height: 150px;
	}
	.header h1 {
		margin-top: -75px;
	}
}