<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>Sacramento State UTAPS</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <link href="../css/swiper.css" rel="stylesheet">
	<link href="../css/magnific-popup.css" rel="stylesheet">
	<link href="../css/styles.css" rel="stylesheet">
    <link href="../css/rescustom.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="../images/favicon.ico">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>RESULTS</h1>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Projects -->
	<div id="projects" class="filter">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Select Option To Rank Your Results</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Filter -->
                    <div class="button-group filters-button-group">
                        <a class="button is-checked" data-sort="time"><span>TIME</span></a>
                        <a class="button" data-sort="cost"><span>COST</span></a>
                        <a class="button" data-sort="carbon"><span>CARBON</span></a>
                    </div> <!-- end of button group -->
                    <div class="grid">
                        <div class="element-item">
                            <p class="cost" hidden><span th:text="${rankCost[0]}"></span></p>
                            <p class="carbon" hidden><span th:text="${rankCarbon[0]}"></span></p>
                            <p class="time" hidden><span th:text="${rankTime[0]}"></span></p>
                            <p class="isFilterd" hidden><span th:text="${isCarFilterd}"></span></p>
                            <a class="popup-with-move-anim" href="#CAR-OPTION"><div class="element-item-overlay"><span>CAR</span></div><img src="../images/project-1.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item">
                            <p class="cost" hidden><span th:text="${rankCost[4]}"></span></p>
                            <p class="carbon" hidden><span th:text="${rankCarbon[4]}"></span></p>
                            <p class="time" hidden><span th:text="${rankTime[4]}"></span></p>
                            <p class="isFilterd" hidden><span th:text="${isCarpoolFilterd}"></span></p>
                            <a class="popup-with-move-anim" href="#CARPOOL-OPTION"><div class="element-item-overlay"><span>CARPOOL</span></div><img src="../images/project-2.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item">
                            <p class="cost" hidden><span th:text="${rankCost[1]}"></span></p>
                            <p class="carbon" hidden><span th:text="${rankCarbon[1]}"></span></p>
                            <p class="time" hidden><span th:text="${rankTime[1]}"></span></p>
                            <p class="isFilterd" hidden><span th:text="${isTransitFilterd}"></span></p>
                            <a class="popup-with-move-anim" href="#TRANSIT-OPTION"><div class="element-item-overlay"><span>TRANSIT</span></div><img src="../images/project-3.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item">
                            <p class="cost" hidden><span th:text="${rankCost[5]}"></span></p>
                            <p class="carbon" hidden><span th:text="${rankCarbon[5]}"></span></p>
                            <p class="time" hidden><span th:text="${rankTime[5]}"></span></p>
                            <p class="isFilterd" hidden><span th:text="${isShuttelFilterd}"></span></p>
                            <a class="popup-with-move-anim" href="#SHUTTLE-OPTION"><div class="element-item-overlay"><span>SHUTTLE</span></div><img src="../images/project-4.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item">
                            <p class="cost" hidden><span th:text="${rankCost[2]}"></span></p>
                            <p class="carbon" hidden><span th:text="${rankCarbon[2]}"></span></p>
                            <p class="time" hidden><span th:text="${rankTime[2]}"></span></p>
                            <p class="isFilterd" hidden><span th:text="${isBikeFilterd}"></span></p>
                            <a class="popup-with-move-anim" href="#BIKE-OPTION"><div class="element-item-overlay"><span>BIKING</span></div><img src="../images/project-5.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item">
                            <p class="cost" hidden><span th:text="${rankCost[3]}"></span></p>
                            <p class="carbon" hidden><span th:text="${rankCarbon[3]}"></span></p>
                            <p class="time" hidden><span th:text="${rankTime[3]}"></span></p>
                            <p class="isFilterd" hidden><span th:text="${IsWalkFilterd}"></span></p>
                            <a class="popup-with-move-anim" href="#WALKING-OPTION"><div class="element-item-overlay"><span>WALKING</span></div><img src="../images/project-6.jpg" alt="alternative"></a>
                        </div>
                    </div> <!-- end of grid -->
                    <!-- end of filter -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of projects -->


    <!-- Project Lightboxes -->
    <!-- Lightbox FOR CAR-->
    <div id="CAR-OPTION" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <!--<img class="img-fluid" src="../images/project-1.jpg" alt="alternative">-->
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    th:attr="src=${mapURLForCar}"
                    allowfullscreen>
                  </iframe>
                </div>
                <!--Google Maps-->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <hr class="line-heading">
                <h3>CAR</h3>
                <hr class="line-heading">
                <p>Details:</p>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="CARPOOL-OPTION" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <!--<img class="img-fluid" src="../images/project-2.jpg" alt="alternative">-->
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe src="https://embed.waze.com/iframe?zoom=13&lat=38.558155&lon=-121.421430&ct=livemap" 
                    width="600" height="450" allowfullscreen></iframe>
                </div>
                <!--Google Maps-->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <hr class="line-heading">
                <h3>CARPOOL</h3>
                <hr class="line-heading">
                <p>Details:</p>
                <a href="https://sacregion511.org/#/">Check Out the Sac Region alternative route tool to find someone to carppo with!</a>
                <a href="https://m.uber.com/ul/?action=setPickup&client_id=S2Y8mc13W9ceWCPx4pUwDyOQPdTrr54F&pickup=my_location&dropoff[formatted_address]=Sacramento%20State%2C%20J%20Street%2C%20Sacramento%2C%20CA%2C%20USA&dropoff[latitude]=38.566882&dropoff[longitude]=-121.427070">Get a ride with Uber!</a>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="TRANSIT-OPTION" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <!--<img class="img-fluid" src="../images/project-3.jpg" alt="alternative">-->
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    th:attr="src=${mapURLForTransit}"
                    allowfullscreen>
                  </iframe>
                </div>
                <!--Google Maps-->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <hr class="line-heading">
                <h3>SAC TRANSIT</h3>
                <hr class="line-heading">
                <p>Details:</p>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="SHUTTLE-OPTION" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <!--<img class="img-fluid" src="../images/project-4.jpg" alt="alternative">-->
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                  <iframe src="http://csus.doublemap.com/map/passive" frameborder="0"
                    style="border:0" allowfullscreen></iframe><!--You can also add ?stop=stopNum to the url to specify a stop number.-->
                </div>
                <!--Google Maps-->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <hr class="line-heading">
                <h3>SHUTTLE</h3>
                <hr class="line-heading">
                <p>Details:</p>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="BIKE-OPTION" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <!--<img class="img-fluid" src="../images/project-5.jpg" alt="alternative">-->
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    th:attr="src=${mapURLForBike}"
                    allowfullscreen>
                  </iframe>
                </div>
                <!--Google Maps-->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <hr class="line-heading">
                <h3>BIKING</h3>
                <hr class="line-heading">
                <p>Details:</p>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="WALKING-OPTION" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <!--<img class="img-fluid" src="../images/project-6.jpg" alt="alternative">-->
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    th:attr="src=${mapURLForWalk}"
                    allowfullscreen>
                  </iframe>
                </div>
                <!--Google Maps-->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <hr class="line-heading">
                <h3>WALKING</h3>
                <hr class="line-heading">
                <p>Details:</p>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of project lightboxes -->    
    	
    <!-- Scripts -->
    <script src="../js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="../js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="../js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="../js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="../js/scripts.js"></script> <!-- Custom scripts -->